.wrapper {
    background-color: #2b2d42;
}

.navbar {
    height: 70px;
    padding: 0px 100px;
    margin: 0px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbar-item:first-child {
    grid-column: 1/6;
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 100px));
    place-content: center;
    place-items: end;
    list-style: none;
}

li {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #bcbedc;
}

li > .link {
    font-size: 18px;
    font-weight: 500;
}

li > .link:hover {
    color: #e9e9eb;
}
