.home-container {
    width: 100vw;
    overflow: scroll;
    /* position: fixed; */
    /* background-color: #13171d;
    z-index: 10; */
}

.home-wrapper {
    height: fit-content;
    padding: 0px 100px;
    margin: 30px 200px 20px;
}
