.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.admin-overview-item {
  border: 1px solid #7959ec;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 30%;
  border-radius: 6%;
}

.item-title {
  font-size: 1.5rem;
}

.item-detail {
  font-size: 2.5rem;
}
